[color]
	ui = true
	untracked = cyan
	current = yellow reverse
	diff = auto
	local = yellow
	branch = auto
	meta = yellow bold
	changed = green
	new = green bold
	added = yellow
	frag = magenta bold
	status = auto
	old = red bold

[hub]
	protocol = https

[core]
	autocrlf = input
	excludesfile = ~/.gitignore

[user]
	name = Jared Pace
	email = jdpace@github.com

[alias]
	dc = diff --cached
	co = checkout
	staged = diff --cached
	cp = cherry-pick
	ci = commit
	di = diff
	st = status

[github]
	user = jdpace

[branch]
	autosetuprebase = remote

[push]
	default = tracking

[protocol]
	version = 2

[fetch]
	prune = true

[pager]
	branch = false

[pack]
	windowMemory = 512m
	deltaCacheSize = 512m
	threads = 1
	packSizeLimit = 20G
	usebitmaps = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = 
	helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
